open3d_slam_rsl/open3d_catkin/src/open3d-stamp/open3d-patch*
open3d_slam_rsl/open3d_catkin*
open3d_slam_rsl/open3d_catkin/*
open3d_slam_rsl/ros/open3d_slam_ros/data/maps/*
open3d_slam_rsl/ros/open3d_slam_ros/maps/*
*.pcd
*.ply
.vscode/*
