<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="rviz_config" default="$(find open3d_slam_ros)/rviz/default.rviz"/>
  <arg name="launch_rviz" default="true"/>
  <arg name="rviz_node_name" default="rviz_mapping"/>

  <node name="$(arg rviz_node_name)" pkg="rviz" type="rviz"
        args="-d $(arg rviz_config)"
        if="$(arg launch_rviz)">
  </node>


</launch>